* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* MOBILE FRIENDLY CSS DOWN HERE! */
h2.mob-title-upper {
  font-size: 1.5em;
  font-family: Bebas Neue, cursive;
  margin-left: 10%;
  margin-bottom: -20px;
}

h2.mob-title-lower {
  font-size: 1.5em;
  font-family: Bebas Neue, cursive;
  margin-left: 30%;
  margin-top: -20px;
}

h1.mob-head {
  font-family: Bowlby One, cursive;
  color: #d00038;
  text-shadow: 1px 1px 3px lightslategray;
  margin-left: 5%;
}

.mobile-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.mobile-nav a {
  text-decoration: none;
  color: black;
}

.mob-nav-bar {
  display: inline;
  font-family: Bebas Neue, cursive;
  font-size: 0.8em;
  background-color: #d00038;
  padding: 0.5em;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 2px lightslategray;
}

/* CODE DEALING WITH THE CHARACTER BIOS NAME LIST! */
.char-namelist {
  display: flex;
  margin: 5px;
  padding: 3px;
  border-top: 2px dotted #d00038;
  border-bottom: 2px dotted #d00038;
}

.char-col-left {
  display: inline-block;
  border-right: 3px solid #FF0448;
  width: 40%;
}

.char-col-right {
  display: inline-block;
  border-left: 3px solid #FF0448;
  width: 40%;
}

p.char-name {
  font-size: 1em;
  font-family: Bowlby One, cursive;
  text-align: right;
  text-transform: uppercase;
  height: 35px;
  vertical-align: middle;
  color: #d00038;
}

p.char-desc {
  font-size: 1em;
  font-family: Roboto, sans-serif;
  text-align: left;
  vertical-align: middle;
  height: 35px;
  color: black;
}

p.tiny-text {
  font-size: 0.3em;
  font-family: Roboto, sans-serif;
}

/* CHARACTER BIO PAGE STYLING */
h3.article-head {
  font-size: 2em;
  font-family: Bebas Neue, cursive;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

footer {
  min-height: 25px;
  width: 100%;
  background-color: #FF0448;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0px;
}

footer p.copyright {
  padding-top: 2px;
  font-size: 0.5em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

footer a.redbg {
  font-family: Roboto, sans-serif;
  color: whitesmoke;
  font-size: 0.5rem;
}

footer a.redbg:hover {
  color: darkblue;
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  nav .nav-img, .nav-top, img.header-img, img.mob-con-sizing {
    display: none;
  }
  #display {
    display: block;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1.mob-head {
    font-size: 2em;
  }
  img.mob-sizing {
    width: 100px;
  }
  .mob-nav-bar {
    width: 45%;
  }
}

@media only screen and (min-width: 481px) {
  nav, .nav-img, .nav-top, img.header-img, img.mob-con-sizing {
    display: none;
  }
  #display {
    display: block;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1.mob-head {
    font-size: 2.5em;
  }
  img.mob-sizing {
    width: 150px;
  }
  .mob-nav-bar {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  div.mobilehead {
    display: none;
  }
  #display {
    display: flex;
  }
  nav, .nav-img, .nav-top {
    display: inherit;
  }
  img.header-img {
    display: block;
  }
  img.mob-sizing {
    width: auto;
  }
  img.mob-con-sizing {
    display: inline-block;
  }
  article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #FF0448;
}

a:hover {
  text-decoration: none;
  color: #d00038;
}

body {
  background-color: #f6f6f6;
}

#wrapper {
  max-width: 1080px;
  margin: 5px auto;
  background-color: #fff;
  box-shadow: 5px 5px 5px lightslategray;
  border-radius: 15px;
}

#display {
  min-height: 1vh;
}

#display nav {
  display: inline-block;
  padding-left: 10px;
  width: 200px;
}

#display nav img.nav-img {
  margin-top: -5px;
}

#content {
  display: inline-block;
  width: 100%;
}

#content img.header-img {
  margin: 0 auto;
}

#content .seperator {
  min-height: 25px;
  background-color: #FF0448;
  padding: 0 1em;
}

#content .seperator p.sep {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

#content section {
  padding: 5px;
}

#content section h2.subhead {
  font-family: Bowlby One, cursive;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px lightslategray;
  color: #d00038;
}

#content section img.left {
  width: 200px;
  margin-left: 10px;
  box-shadow: 2px 2px 5px lightslategray;
}

#content section p {
  display: block;
  font-family: Roboto, sans-serif;
  text-align: justify;
  padding: 5px 5px 5px 10px;
}

#content section hr.sep-hr {
  width: 50%;
  margin: 5px auto;
  border-top: 1px dotted #d00038;
}

.col {
  padding: 1%;
}
/*# sourceMappingURL=funk.css.map */